@CHARSET "UTF-8";

.button {
	text-decoration: none;
	background: #fefcea; /* Old browsers */
	background: -moz-linear-gradient(top, #fefcea 0%, #f1da36 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fefcea),
		color-stop(100%, #f1da36)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #fefcea 0%, #f1da36 100%);
	/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #fefcea 0%, #f1da36 100%);
	/* Opera 11.10+ */
	background: -ms-linear-gradient(top, #fefcea 0%, #f1da36 100%); /* IE10+ */
	background: linear-gradient(to bottom, #fefcea 0%, #f1da36 100%); /* W3C */
	border: 1px solid #eaca2c;
	display: inline-block;
	color: #5c5c5c;
	font-size: 15px;
	font-weight: normal;
	height: 20px;
	line-height: 17px;
	text-align: center;
	padding-left: 5px;
	padding-right: 5px;
	margin: 2px;
	cursor: pointer;
	text-indent: 0;
}

.button:hover {
	color: #cc3900;
	background: #fcf3c8
}

.button:active {
	position: relative;
	top: 1px;
}

.button_pic {
	text-decoration: none;
	cursor: pointer;
}

.button_pic:ACTIVE {
	position: relative;
	top: 1px;
}

.big {
	height: 30px;
	font-size: 16px;
	line-height: 30px;
}