@CHARSET "UTF-8";

#menu {
	width: 850px;
	height: 40px;
	border-right: 1px solid #eaca2c;
	background: #fefcea; /* Old browsers */
	background: -moz-linear-gradient(top, #fefcea 0%, #f1da36 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fefcea),
		color-stop(100%, #f1da36)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #fefcea 0%, #f1da36 100%);
	/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #fefcea 0%, #f1da36 100%);
	/* Opera 11.10+ */
	background: -ms-linear-gradient(top, #fefcea 0%, #f1da36 100%); /* IE10+ */
	background: linear-gradient(to bottom, #fefcea 0%, #f1da36 100%); /* W3C */
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
}

#menu ul {
	border-right: 1px solid #eaca2c;
	display: block;
	float: left;
	list-style: none;
	margin: 0;
	padding: 0;
	width: 100%;
}

#menu ul li {
	border-left: 1px solid #fceda4;
	border-right: 1px solid #eaca2c;
	float: left;
	padding: 0;
}

#menu ul li:first-child {
	border-left: 0;
}
#menu ul li>a{
	background: transparent;
	color: #5c5c5c;
	display: block;
	font-size: 16px;
	font-weight: normal;
	line-height: 40px;
	padding: 0 15px;
	text-decoration: none;
	width: auto;
}

#menu ul li:last-child {
	border-right: 0;
	float:right;
	font-weight: bolder;
}



#menu ul li a:hover {
	color: #cc3900;
	background: #fcf3c8
}

#menu ul li strong,#menu ul li a.current {
	background: #f2f2f2;
}
